<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script src="https://cdn.tailwindcss.com"></script>

    <title>Analyzing your text..</title>
    <link rel="stylesheet" href="style.css">
  </head>  
  <body class="bg-slate-300">
    <div class="flex items-center justify-center h-screen">
        <div class="bg-white p-14 shadow-md shadow-slate-400 rounded-lg max-w-md w-full">
            <h1 class="text-center font-semibold font-serif text-2xl"><a href="/">Error!</a></h1>   
          </div>
        </body>
</html>